@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  --color-brand: #fff159;
  --color-button: #3483fa;
  --color-neutral-100: #fff; // background and search button bg
  --color-neutral-300: #ededed;
  --color-neutral-400: #888; // breadcrumb
  --color-neutral-500: #666; // lighter text and search icon
  --color-neutral-800: #333; // text

  margin: 0;
  min-height: 100vh;

  background-color: var(--color-neutral-300);
  color: var(--color-neutral-800);
  font-family: "Roboto", sans-serif;
}

a {
  // color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 8rem;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  &:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
  }
}
