.SearchBar {
  form {
    display: flex;

    input {
      width: 65vw;
      border: none;
      padding: 0.5rem 1rem;

      &::placeholder {
        color: var(--color-neutral-500);
      }
    }

    button {
      background-color: var(--color-neutral-300);

      span {
        color: var(--color-neutral-500);
      }
    }
  }
}
